:root {
    --primary-color: #645CAA;
    --second-color: #BFACE0;
    --white: #ffffff;
    --dark: #506172;
    --black: #000000;
    --bgcolor: #ffffff;
    --primary-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --second-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: var(--primary-font);
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

ul {
    list-style: none;
}

/* -------------------back-to-top----------------------------------- */
#button svg {
    fill: var(--white);
    z-index: 999;
    width: 3em;
    transform: rotate(90deg);
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-color: var(--second-color);
    border-radius: 0.7em;
}

/* -------------------back-to-top----------------------------------- */

/* ---------------------------Site Banner Section----------------------- */
.banner-area .container {
    background-color: var(--primary-color);
    padding: 5em;
}

.banner-area .container .banner-content .title {
    text-align: center;
    font-size: 2em;
    color: var(--white);
}

/* ---------------------------//Site Banner Section//-------------------- */

/* -------------------------Home About Section-------------------------- */
.about-us-inside {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    margin: 6em 0;
}

.about-us-img {
    width: 35em;
    height: 25em;
}

.about-us-img img {
    border-radius: 1em;
    object-fit: cover;
}

.about-us-content {
    text-align: left;
}

.about-us-content .title h1 {
    font-size: 3em;
    color: var(--primary-color);
    display: inline;
    margin: 2em 0;
}


.about-us-content .decs {
    font-size: 1.1em;
    width: 40em;
}

/* -------------------------//Home About Section//----------------------- */

/* -------------------------Vision Mission Section----------------------- */
.vision-mission-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16em;
    margin: 7em 0;
}

.about-vm-image {
    width: 30em;
    height: 25em;
    object-fit: cover;
}

.about-vm-image img {
    border-radius: 1em;
}

.about-vm-content {
    text-align: left;
}

.content-right {
    text-align: right;
}

.about-vm-content .title {
    font-size: 3em;
    color: var(--primary-color);
    display: inline;
    margin: 2em 0;
}

.about-vm-content .decs {
    font-size: 1.1em;
    width: 40em;
}

/* -----------------------//Vision Mission Section//--------------------- */

/* -------------------------News Letter----------------------------------*/
.newsletter {
    margin: 4em 0;
    padding: 2em;
    background-color: var(--primary-color);
    text-align: center;

}

.newsletter-inside {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.newsletter .title {
    color: var(--white);
    width: 40%;
    margin: 0;
    font-size: 3em;
    letter-spacing: 1px
}

.newsletter form {
    width: 60%
}

.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.newsletter .form-row .form-control {
    font-size: 19px;
    border: 1px solid #fff;
    font-family: var(--second-font);
    background-color: transparent;
    padding: 15px;
    outline: 0;
    color: var(--white);
    width: 61%;
    border-radius: .5em
}

.newsletter .form-row .form-control::placeholder {
    color: var(--white)
}

.newsletter button.subcribe {
    font-size: 18px;
    cursor: pointer;
    transition: .5s;
    background-color: var(--white);
    color: var(--primary-color);
    margin-left: 8px;
    border: none;
    outline: 0;
    width: 200px;
    height: 56px;
    border-radius: .5em;
}

.newsletter button.subcribe:hover {
    border: 1px solid var(--white);
    background-color: var(--primary-color);
    color: var(--white)
}

#NewsLetterFormResponse {
    text-align: center;
    margin-top: 15px;
    color: var(--white);
    font-size: 20px
}

/* -------------------------//News Letter//-----------------------------*/
/* -------------------------Our Team Section---------------------------- */

.our_team .container {
    text-align: center;
}

.our_team .container .title {
    margin: 2em 0;
    font-size: 2.5em;
}

.team_inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.team-member {
    margin: 2em;
    width: 13%;
    background-color: var(--white);
    padding: 17px;
    /* border: 1px solid black; */
    border-radius: 1em;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}

.team-member:hover {
    transform: scale(1.01);
    box-shadow: 0 0 32px #ffffff;
}

.team-member .team-member-desc .title {
    margin: 1em 0;
    font-size: 1.5em;
}



/* -----------------------//Our Team Section//-------------------------- */
/* -----------------------Testimonial Section-------------------------- */

.testimonial_section {
    text-align: center;
}

.testi-item {
    display: flex;
    justify-content: center;
    gap: 10em;
}

.testimonial_section .container .title {
    margin: 1em 0;
    font-size: 2.5em;
}

.carousel-item .title {
    font-size: 1.3em !important
}

.carousel-item img {
    width: 13em;
    height: 10em;
    border-radius: 1em;
}

.hide-block {
    display: none;
}

.my-3 {
    width: 10em;
    margin: 1em auto;
}



/*----------------------//Testimonial Section//-------------------------- */



@media only screen and (max-width:1024px) {

    #button svg {
        bottom: 2em;
        right: 2em;
    }

    .banner-area .container {
        padding: 2em;
        font-size: .6em;
    }

    .about-us-img {
        width: 25em;
        height: 20em;
    }

    .about-us-content .title h1 {
        font-size: 2em;
    }

    .about-us-content .decs {
        font-size: 1em;
        width: 20em;
    }

    .about-vm-image {
        width: 25em;
        height: 20em;
    }

    .about-vm-content .decs {
        font-size: 1em;
        width: 20em;
    }

    .about-vm-content .title {
        font-size: 3em;
    }

    .team-member {
        width: 25%;
    }


    .newsletter .title {
        font-size: 1.9em;
    }

    .newsletter .form-row .form-control {
        width: 50%;
    }

    .newsletter button.subcribe {
        font-size: 16px;
        width: 150px;
    }
}

@media only screen and (max-width:768px) {
    .about-us-img {
        width: 20em;
    }

    .vision-mission-items {
        gap: 2em;
    }

    .about-vm-image {
        width: 20em;
    }



    .newsletter {
        padding: 1em;
    }

    .newsletter .title {
        width: auto;
        font-size: 2em;
    }

    .newsletter .form-row .form-control {
        font-size: 13px;
    }

    .newsletter button.subcribe {
        height: 48px;
    }
}

@media only screen and (max-width:600px) {
    .about-us-inside {
        flex-direction: column;
    }

    .about-us-content {
        text-align: center;
    }

    .vision-mission-items {
        flex-direction: column;
    }

    .about-vm-content {
        text-align: center;
    }

    .team_inner {
        flex-direction: column;
        gap: 2em;
    }

    .team-member {
        width: 35%;
    }

    .testi-item {
        flex-direction: column;
        gap: 5em;
    }
}

@media only screen and (max-width:575px) {
    #button svg {
        bottom: 1em;
        right: 1em;
    }

    .about-us-inside {
        margin: 2em 0;
    }

    .about-vm-content .title {
        font-size: 2em;
    }

    .about-vm-content .decs {
        width: 27em;
    }
}

@media only screen and (max-width:425px) {

    .about-vm-content .decs {
        width: 20em;
    }

    .team-member {
        width: 50%;
    }

    .our_team .container .title {
        font-size: 2em;
    }

    .team-member .team-member-desc .title {
        font-size: 1.5em;
    }

    .testimonial_section .container .title {
        font-size: 2em;
    }



    .newsletter .title {
        font-size: 1.4em;
    }

    .newsletter form {
        width: 80%;
    }

    .newsletter button.subcribe {
        font-size: 13px;
        width: 100px;
    }
}

@media only screen and (max-width:320px) {

    .about-us-img {
        width: 19em;
    }

    .about-us-content .decs {
        width: 17em;
    }

    .about-vm-image {
        width: 19em;
    }

    .about-vm-content .decs {
        width: 17em;
    }
}