:root {
    --primary-color: #645CAA;
    --second-color: #BFACE0;
    --white: #ffffff;
    --dark: #506172;
    --black: #000000;
    --bgcolor: #ffffff;
    --primary-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --second-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: var(--primary-font);
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

ul {
    list-style: none;
}

/* -------------------back-to-top----------------------------------- */
#button svg {
    fill: var(--white);
    z-index: 999;
    width: 3em;
    transform: rotate(90deg);
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-color: var(--second-color);
    border-radius: 0.7em;
}

/* -------------------back-to-top----------------------------------- */

/* ---------------------------Site Banner Section----------------------- */
.banner-area .container {
    background-color: var(--primary-color);
    padding: 5em;
}

.banner-area .container .banner-content .title {
    text-align: center;
    font-size: 2em;
    color: var(--white);
}

/* ---------------------------//Site Banner Section//-------------------- */

/* -------------------------News Letter----------------------------------*/
.newsletter {
    margin: 4em 0;
    padding: 2em;
    background-color: var(--primary-color);
    text-align: center;

}

.newsletter-inside {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.newsletter .title {
    color: var(--white);
    width: 40%;
    margin: 0;
    font-size: 3em;
    letter-spacing: 1px
}

.newsletter form {
    width: 60%
}

.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.newsletter .form-row .form-control {
    font-size: 19px;
    border: 1px solid #fff;
    font-family: var(--second-font);
    background-color: transparent;
    padding: 15px;
    outline: 0;
    color: var(--white);
    width: 61%;
    border-radius: .5em
}

.newsletter .form-row .form-control::placeholder {
    color: var(--white)
}

.newsletter button.subcribe {
    font-size: 18px;
    cursor: pointer;
    transition: .5s;
    background-color: var(--white);
    color: var(--primary-color);
    margin-left: 8px;
    border: none;
    outline: 0;
    width: 200px;
    height: 56px;
    border-radius: .5em;
}

.newsletter button.subcribe:hover {
    border: 1px solid var(--white);
    background-color: var(--primary-color);
    color: var(--white)
}

#NewsLetterFormResponse {
    text-align: center;
    margin-top: 15px;
    color: var(--white);
    font-size: 20px
}

/* -------------------------//News Letter//-----------------------------*/

@media only screen and (max-width:1024px) {

    #button svg {
        bottom: 3em;
        right: 3em;
    }

    .banner-area .container {
        padding: 2em;
        font-size: .6em;
    }

    .newsletter .title {
        font-size: 1.9em;
    }

    .newsletter .form-row .form-control {
        width: 50%;
    }

    .newsletter button.subcribe {
        font-size: 16px;
        width: 150px;
    }

    /*-------------------- footer------------------ */

    .footer-inside {
        flex-direction: column;
        align-items: center;
    }

    .footer-items {
        /* text-align: left; */
        /* width: 25em; */
    }

    .footer-social ul {
        padding: 0;
    }

    .navbar-nav {
        padding: 0;
    }

    /*--------------------//footer//------------------ */
}

@media only screen and (max-width:768px) {

    .newsletter {
        padding: 1em;
    }

    .newsletter .title {
        width: auto;
        font-size: 2em;
    }

    .newsletter .form-row .form-control {
        font-size: 13px;
    }

    .newsletter button.subcribe {
        height: 48px;
    }
}

@media only screen and (max-width:575px) {
    #button svg {
        bottom: 1em;
        right: 1em;
    }
}

@media only screen and (max-width:425px) {
    .newsletter .title {
        font-size: 1.4em;
    }

    .newsletter form {
        width: 80%;
    }

    .newsletter button.subcribe {
        font-size: 13px;
        width: 100px;
    }
}